#mainList {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 25% 75%;
  box-sizing: border-box;
}

.filterContainer {
  width: 100%;
  /* background-color: #ccc; */
  padding-right: 30px;
}

.path > ul {
  display: flex;
  align-items: center;
}

.path ul li {
  margin-right: 10px;
  font-size: 1rem;
}

.path ul li a:link {
  color: #b0b0b0;
}

.path ul li a:visited {
  color: #b0b0b0;
}

.path ul li a:active {
  color: rgb(145, 63, 63);
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}

.contents {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
}

.item-product {
  width: 100%;
  padding: 30px;
  &:hover {
    transition: all ease 0.3s;
    transform: translateY(-20px);
    box-shadow: 1px 5px 10px rgba(199, 138, 67, 0.7);
  }
}

.item-product > img {
  width: 100%;
  height: 15vw;
  border-radius: 8px;
}

.item-product > p:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.2rem;
}
.item-title {
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 왼쪽 필터 부분 */
.filterContainer {
  color: rgb(107, 107, 107);
}
.filterbox {
  width: 100%;
}

.filter {
  border: 1px solid #a7a7a7;
  background-color: #e7e7e7;
  padding: 10px;
  border-radius: 5px;
  color: #a7a7a7;
  cursor: pointer;
}
.filter > svg {
  transform: translateY(3px);
}

.filter:hover {
  border: 1px solid black;
  color: black;
  transition: all 0.7s;
}

.filterContainer ul {
  margin: 0;
  padding-left: 0;
}

.categoryItem2 {
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.categoryItem2 a {
  padding-left: 10px;
  display: block;
  height: 100%;
  border-radius: 5px;
}

.categoryItem2 a:link {
  color: #b0b0b0;
}

.categoryItem2 a:visited {
  color: #b0b0b0;
}

.categoryItem2 a:active {
  color: rgb(145, 63, 63);
}

.categoryItem2 a:hover {
  background-color: #eeeeee;
  transition: all 0.7s;
}

.moveBtn {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.moveBtn button {
  width: 70px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #f4f4f4;
  cursor: pointer;
}

.moveBtn button:hover {
  background-color: rgba(109, 200, 42, 0.7);
  transition: all 0.7s;
}

.moveBtn button:disabled {
  background-color: #f5f5f5;
}

/* 태블릿 미디어쿼리 */
@media screen and (max-width: 768px) and (min-width: 425px) {
  * {
    transition: all ease-out 0.3s;
  }
  .filterContainer {
    min-width: 120px;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
  }
  .contents {
    grid-template-columns: repeat(2, 50%);
    img {
      height: 22vw;
    }
  }
}

// 모바일 미디어쿼리
@media screen and (max-width: 424px) {
  * {
    transition: all ease-out 0.3s;
  }
  .result {
    display: block;
  }
  .filterContainer {
    min-width: 100px;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
  }
  .contents {
    display: block;
    img {
      height: 50vw;
    }
  }
}
