.board-main {
  display: flex;
  padding-top: 180px;
}
.board-left {
  height: 700px;
  flex-basis: 15%;
  box-sizing: border-box;
}
.board-center {
  height: 700px;
  flex-basis: 70%;
  box-sizing: border-box;
}
.table {
  margin: 20px;
}
.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  width: 90%;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: block;
  padding: 10px 15px;
  background-color: rgba(109, 200, 42, 0.7);
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 3px;
}

.page-link:hover {
  background-color: rgba(109, 200, 42, 0.9);
  transition: all 0.7s;
}

.board-footer {
  display: flex;
}

@media all and (min-width: 300px) and (max-width: 425px) {
  .board-left {
    flex-basis: 10%;
  }
  .board-center {
    flex-basis: 80%;
  }
  .board-main {
    padding-top: 150px;
  }
}
