.create_main {
  display: flex;
  padding-top: 180px;
}
.createNotice {
  width: 100%;
}
.cartegory-top {
  display: flex;
  width: 100%;
}
.cartegory-top-left {
  flex-basis: 80%;
  box-sizing: border-box;
}

.cartegory-top-right {
  margin-left: 20px;
  flex-basis: 20%;
  box-sizing: border-box;
}

.createBtn {
  margin-top: auto;
  margin-left: 10px;
  width: 40%;
  height: 80px;
  border: 1px solid #ccc;
  box-shadow: 4px 4px 5px #ccc;
  background-color: rgba(109, 200, 42, 0.7);
  border-radius: 10px;
}

.notice-title {
  width: 100%;
  height: 50px;
  box-sizing: content-box;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-shadow: 4px 4px 5px #ccc;
}
.categoryList {
  width: 100%;
  height: 30px;
  box-sizing: content-box;
  border: 1px solid #ccc;
  box-shadow: 4px 4px 5px #ccc;
}

.textBoard {
  width: 100%;
  height: 600px;
  resize: none;
  border: 1px solid #ccc;
  box-shadow: 6px 8px 5px #ccc;
}

.create-left {
  width: 10%;
}
.create-center {
  width: 80%;
}
.create-right {
  width: 10%;
}

@media all and (min-width: 769px) and (max-width: 1023px) {
  .createBtn {
    height: 50px;
    margin-top: 20px;
  }
}
@media all and (min-width: 426px) and (max-width: 768px) {
  .createBtn {
    height: 50px;
    margin-top: 20px;
  }
}
@media all and (min-width: 300px) and (max-width: 425px) {
  .cartegory-top-left {
    flex-basis: 65%;
  }
  .cartegory-top-right {
    flex-basis: 30%;
  }
  .createBtn {
    height: 60px;
  }
  .create_main {
    padding-top: 140px;
  }
}
