.game-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: rgba(199, 138, 67, 0.05);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.game-contentsBox {
  display: flex;
  flex-direction: column;
}
.game-contentsBox2 {
  display: flex;
}

.game-imgBox {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  /* background-color: aquamarine; */
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  margin-right: 20px;
}
.game-products1 {
  width: 100%;
  height: 500px;
  margin-right: 20px;
}
.game-products {
  width: 100%;
  height: 500px;
  text-align: left;
  overflow-y: scroll;
}
.game-products::-webkit-scrollbar {
  display: none;
}
.game-divinput {
  margin-top: 20px;
  height: 4rem;
  display: flex;
  justify-content: center;
}
.game-inputbox {
  width: 70%;
  height: 3rem;
  margin-right: 10px;
  border-radius: 5px;
  outline-color: rgba(109, 200, 42, 0.7);
  border: 1px solid #ccc;
  padding-left: 1rem;
}
.game-inputbtn {
  width: 20%;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgba(109, 200, 42, 0.7);
  color: white;
  font-size: 1.3rem;
}
.game-inputbtn:hover {
  background-color: rgb(60, 134, 8);
  transition: all 0.6s;
}

/* Game.css */

/* ... 다른 스타일 규칙들 ... */

/* 모달 컨테이너 스타일 */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  /* background-color: rgba(255, 237, 213, 0.8); */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  z-index: 1000;
  width: 40rem;
  /* height: 65vh; */
}

/* 배경 스타일 */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.modal-imgBox {
  width: 35vh;
  height: 35vh;
  border-radius: 20px;
}
.modal-btn {
  width: 20%;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgba(109, 200, 42, 0.7);
  color: white;
  font-size: 1.3rem;
}
.modal-btn:hover {
  background-color: rgb(60, 134, 8);
  transition: all 0.6s;
}

.game-productslable {
  font-size: x-large;
  font-weight: bolder;
  width: 100%;
}
.game-productslablediv {
  width: 100%;
  font-size: large;
  color: black;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 10px;
}
.game-productsdivtext {
  max-height: 100%;
  overflow: auto;
}
.game-proceeding {
  margin-top: 20px;
}
.game-process {
  height: 10px;
  background-color: rgba(109, 200, 42, 0.7);
  border-radius: 2px;
  transition: width 0.3s ease-in-out;
}
.modal-label {
  font-weight: bolder;
  font-size: large;
}
.modal-p {
  font-weight: bolder;
  font-size: x-large;
}
.modal-labelbox {
  padding-top: 10px;
}
.game-productslablediv,
.game-productsdivtext {
  margin-left: 10px;
}

@media screen and (max-width: 468px) {
  .game-contentsBox2 {
    display: block;
  }
  .game-products {
    width: 100%;
    height: auto;
    text-align: left;
    margin-top: 30px;
    /* overflow-y: scroll; */
  }
  .game-inputbtn {
    font-size: 1rem;
  }
}
