/* * {
  text-align: center;
  margin: 0 auto;
} */
.gr-container1 {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: rgba(199, 138, 67, 0.05);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.gr-imgBoxs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.gr-img1 {
  border-radius: 10px;
  width: 100%;
  height: 17vw;
}
.gr-text1 > p {
  text-align: center;
}
.gr-imgBox1 {
  padding: 10px;
}
.gr-imgBox1:hover .gr-img1 {
  transform: translateY(-7px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  transition: all ease 0.2s;
}
.gr-textTitle {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 578px) {
  .gr-imgBoxs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}
