.board-main {
  display: flex;
  padding-top: 180px;
  margin: 0 auto;
}
.board-left {
  height: 700px;
  flex-basis: 15%;
  box-sizing: content-box;
  padding-right: 15px;
}
.board-center {
  height: 800px;
  flex-basis: 70%;
  box-sizing: border-box;
}
.board-rigth {
  height: 700px;
  flex-basis: 15%;
  float: right;
  box-sizing: border-box;
}
.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  width: 90%;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: block;
  padding: 10px 15px;
  background-color: rgba(109, 200, 42, 0.7);
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 3px;
}

.page-link:hover {
  background-color: rgba(109, 200, 42, 0.9);
  transition: all 0.7s;
}

.board-footer {
  display: flex;
}
.new-text {
  width: 80px;
  height: 38px;
  margin-top: 16px;
  margin-right: 10px;
  background-color: rgba(109, 200, 42, 0.7);
  border: none;
  border-radius: 8px;
}

.new-text:hover {
  background-color: rgba(109, 200, 42, 0.9);
  transition: all 0.7s;
}
@media all and (min-width: 1025px) and (max-width: 1440px) {
  .td {
    font-size: 15px;
  }
  .board-left {
    padding-right: 15px;
  }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  .td {
    font-size: 13px;
  }
  .board-left {
    padding-right: 12px;
  }
}
@media all and (min-width: 426px) and (max-width: 768px) {
  .td {
    font-size: 12px;
  }
  .board-left {
    flex-basis: 10%;
    padding-right: 10px;
  }
}
@media all and (min-width: 300px) and (max-width: 425px) {
  .board-left {
    flex-basis: 10%;
    width: 30%;
  }
  .board-center {
    margin-left: 5px;
    flex-basis: 80%;
  }
  .board-main {
    padding-top: 150px;
  }
  .board-rigth {
    display: none;
  }
}
